PORT=5000
MONGO_URI=mongodb+srv://Yashpawara:wpEWeF6xY5UV9Zt@cluster0.y3y2ywt.mongodb.net/WishesApp
JWT_SECRET=YashpalsinghPawaraDeveloper
JWT_EXPIRES_IN=1d

CLOUDINARY_CLOUD_NAME=dsbkmo7kr
CLOUDINARY_API_KEY=629324569988823
CLOUDINARY_API_SECRET=pZuqxU6dZOMqspWnbX0dsvHMdgc

RAZORPAY_KEY_ID=rzp_test_SoDNGIpk1vZ6te
RAZORPAY_KEY_SECRET=Z7uAVrPjzZ6YpsSvDyiWuGHZ

GOOGLE_CLIENT_ID=your_google_client_id_here

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_google_app_password

CLIENT_URL=http://localhost:3000